.fest_item 
{
width: 980px;
border-bottom: 1px solid #e7ebed;
margin-bottom: 40px;
min-height:210px;
}

.fest_photo 
{
width: 152px;
height: 210px;
float: left;
margin-right: 35px;
}

.fest_photo img 
{
border-radius: 8px;
-moz-border-radius: 8px;
-o-border-radius: 8px;
-webkit-border-radius: 8px;
behavior: url(PIE.htc);
}

.fest_time_left 
{
width: 134px;
height: 210px;
float: right;
text-align: center;
}

.fest_info 
{
width: 590px;
float: left;
margin-bottom: 20px;
}

.days_counter 
{
color: #ff9e14;
font-size: 46px;
font-weight: bold;
margin-top:47px;
}

.days 
{
color: #989898;
font-style: italic;
font-size: 13px;
text-align: center;
}

.fest_name,
.fest_preview, 
.place_period 
{
margin-bottom: 22px;
}

.fest_name a 
{
text-decoration: none;
font-size: 18px;
}

.fest_name a .title
{
text-decoration: none;
font-size: 18px;
color:#2175b9;
}

.period
{
font-size: 18px;
color:#2f2f2f;	
float:right;
}

.place
{
float:left;	
}

.country_name
{
text-transform:uppercase;
color: #575757;
font-size: 14px;
font-weight: bold;
margin-left:10px;
margin-right:30px;
}














