@font-face 
{
font-family: 'PTSansRegular';
src: url('/fonts//fonts/pt_sans-web-regular.eot');
src: url('/fonts/pt_sans-web-regular.eot') format('embedded-opentype'),
url('/fonts/pt_sans-web-regular.woff') format('woff'),
url('/fonts/pt_sans-web-regular.ttf') format('truetype'),
url('/fonts/pt_sans-web-regular.svg#PTSansRegular') format('svg');
}


*
{
margin:0px;
padding:0px;
}


.red_underline
{
 font-weight: bold;
 text-decoration: underline;
 color: rgb(157, 10, 15)
}

.visual_img
{
	margin: 10px;
}

