@font-face {
    font-family: 'PTSansRegular';
    src: url('/fonts//fonts/pt_sans-web-regular.eot');
    src: url('/fonts/pt_sans-web-regular.eot') format('embedded-opentype'), url('/fonts/pt_sans-web-regular.woff') format('woff'), url('/fonts/pt_sans-web-regular.ttf') format('truetype'), url('/fonts/pt_sans-web-regular.svg#PTSansRegular') format('svg');
}
* {
    margin: 0px;
    padding: 0px;
}
h1,
.h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #2f2f2f;
    font-size: 23px;
    font-weight: normal;
}
.h3 {
    text-transform: uppercase;
    font-size: 16px;
    color: #2175b9;
}
a {
    color: #2175b9;
}
a:hover {
    text-decoration: none;
}
.em {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
img {
    border: 0px;
}
.mr0 {
    margin: 0px !important;
}
table {
    border: none;
    border-collapse: collapse;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #2f2f2f;
    background: #fff;
}
ul {
    list-style: none;
}
.form_border,
.menu,
.menu ul li a,
.menu .selected,
.form_bg,
.news_item img,
.bottom_pictures_wrap .bottom_pictures_item img,
.time_table {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    beh * avior: url(PIE.htc);
}
.footer {
    position: relative;
}
/*.news_block {
    -webkit-box-shadow: -1px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -1px 3px 5px 0px rgba(50, 50, 50, 0.75);
    beh * avior: url(PIE.htc);
}*/
.footer_wrap {
    -webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.50);
    -moz-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.50);
    box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.50);
    beh * avior: url(PIE.htc);
}
.main_wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
		min-width: 1228px;
}
.contacts_top_wrap,
.header_wrap,
.slider_wrap,
.countries_menu_wrap,
.footer_wrap {
    width:100%;
   /* max-width:1228px;*/
    min-width: 1228px;
}
.contacts_top,
.header,
.slider,
.search_wrap,
.countries_menu,
.content_main,
.content,
.footer,
.bottom_pictures_wrap {
    min-width: 1228px;
    max-width: 1228px;
    margin: 0 auto;
}
.footer_push,
.footer {
    height: 288px;
    margin: 0 auto;
}
.footer {
    margin-top: -288px;
}
.contacts_top_wrap {
    height: 37px;
    background: #286498;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: fixed;
    margin-top: -37px;
    width: 100%;
    z-index: 600;
}
.contacts_top {
    position: relative;
		height:37px;
}
.header_wrap {
    height: 145px;
    background: url(/img/header_bg.jpg) repeat-x;
}
.header {
    height: 146px;
    position: relative;
    margin-top: 37px;
}
.header .head_contacts,
.header .head_phones {
    display: none;
}
.logo {
    position: absolute;
    top: 18px;
    left: 0px;
}
.hubs {
    position: absolute;
    top: 50px;
    /*57px*/
    
    right: 0px;
}
.lang_switch {
    position: absolute;
    right: 0px;
    top: 12px;
}
.lang_switch a {
    font-size: 12px;
    color: #fff !important;
}
.lang_switch .selected {
    text-decoration: none !important;
    color: #92c0db !important;
}
.head_contacts {
    position: absolute;
    left: 0px;
    top: 6px;
}
.head_contacts_wr {
    height: 23px;
    position: absolute;
    left: 0px;
    top: 6px;
}
.head_contacts_wr span {
    width: auto;
    height: 23px;
    display: block;
    float: left;
    padding-left: 21px;
    /*25px*/
    
    margin-right: 10px;
    line-height: 24px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.head_contacts_wr .skype a {
    text-decoration: none;
    color: #fff;
}
.icq,
.skype,
.mail,
.phone,
.viber,
.whatsapp {
    background: url(/img/contact_icons/head_cont_icons.png) no-repeat;
    background-position: left 0px top 0px;
}
.icq,
.skype,
.viber,
.whatsapp {
    color: #fff;
}
.icq {
    background-position: left 0px top 5px;
}
.skype {
    background-position: left 0px top -24px;
}
.mail {
    background-position: left 0px top -53px;
}
.phone {
    background-position: left 0px top -80px;
}
.viber {
    background-position: left 0px top -114px;
}
.whatsapp {
    background-position: left 0px top -143px;
}
.head_phones {
    position: absolute;
    right: 90px;
    top: 5px;
}
.head_phones div {
    float: left;
    font-size: 21px;
    color: #fff;
    margin-left: 27px;
}
.head_phones span {
    display: inline-block;
    padding-top: 5px;
    font-size: 15px;
    color: #dcf2ff;
}
.slider_wrap {
    height: 355px;
    background: url(/img/slider_bg.jpg) repeat-x;
}
.countries_menu_wrap {
    background: url(/img/countries_menu_bg.jpg);
    -webkit-box-shadow: inset 0px 7px 15px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: inset 0px 7px 15px 0px rgba(50, 50, 50, 0.2);
    box-shadow: inset 0px 7px 15px 0px rgba(50, 50, 50, 0.2);
    beh * avior: url(PIE.htc);
    position: relative;
    padding: 23px 0px;
}
.index_menu_shadow {
    height: 100%;
    width: 100%;
    //margin-top:-15px;
    -webkit-box-shadow: inset 0px -7px 15px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: inset 0px -7px 15px 0px rgba(50, 50, 50, 0.2);
    box-shadow: inset 0px -7px 15px 0px rgba(50, 50, 50, 0.2);
    beh * avior: url(PIE.htc);
    position: absolute;
    bottom: 0px
}
.footer_wrap {
    height: 288px;
    background: url(/img/footer_bg.jpg);
}
.clear {
    clear: both;
}
.search_wrap {
    position: relative;
    height: 100px;
}
.search_wrap input {
    border: none !important;
}
.search_wrap .text {
    width: 208px;
    margin-left: 7px;
    padding-left: 10px;
    font-size: 14px;
}
.search_wrap .text:focus {
    outline: none !important;
}
.search_wrap .loupe,
.search_wrap .v-sign {
    width: 40px;
    height: 35px;
    cursor: pointer;
    display: block;
}
.search_wrap .loupe {
    background: url(/img/loupe.png) 50% 50% no-repeat;
}
.search_wrap .v-sign {
    background: url(/img/v-sign.png) 50% 50% no-repeat;
}
.form_bg {
    width: 274px;
    height: 37px;
    background: #e6eaed;
    padding: 7px 11px;
}
.search_wrap .search_form .form_border,
.search_wrap .subscribe_form .form_border {
    width: 268px !important;
    height: 35px !important;
    background: #fff;
    border: 1px solid #b1bcc4;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.search_wrap .search_form,
.search_wrap .subscribe_form {
    position: absolute;
    top: 15px;
    z-index: 1;
    background: #e6eaed;
    padding: 8px 12px;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    beh * avior: url(/bitrix/templates/main/PIE.htc);
}
.search_wrap .search_form {
    left: 102px;
}
.search_wrap .subscribe_form {
    right: 102px;
}
.gallery_block {
    height: 154px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.gallery_block_item {
    width: 400px;
    height: 100%;
    float: left;
}
.gallery_block_item a {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: #2f2f2f;
    line-height: 21px;
    margin-bottom: 9px;
}
.gallery_block_item a span {
    color: #2175b9;
}
.gallery_block_item p {
    color: #7a7a7a;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
}
.gallery_block_item_img {
    margin-right: 20px;
    margin-top: 40px;
    height: 100%;
    float: left;
}
.bottom_pictures_wrap {
    margin-top: 40px;
    margin-bottom: 75px;
}
.footer {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}
.footer a {
    color: #d9e0ed;
    text-decoration: underline;
}
.footer_logo {
    position: absolute;
    top: 30px;
    left: 0px;
}
.footer_contacts {
    position: absolute;
    top: 110px;
    left: 0px;
}
.foorer_del {
    position: absolute;
    top: 50px;
    left: 280px;
}
.footer_bottom_line {
    width: 100%;
    height: 10px;
    margin-top: -10px;
    background: url(/img/footer_bottom_line.png) no-repeat;
    background-position-x: 50%;
}
.countries_menu .country .country_name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.left_col {
    float: left;
    width: 200px;
    margin-right: 40px;
    margin-bottom: 50px;
}
.right_col {
    float: right;
    width: 980px;
    margin-bottom: 50px;
}
.cont_top_block {
    border-bottom: 1px solid #b1bcc4;
    margin-bottom: 40px;
}
.time_table {
    width: 430px;
    margin-top: 38px;
    margin-bottom: 60px;
    border: 1px solid #b1bcc4;
    float: right;
    padding: 40px 65px 26px 65px;
    text-align: center;
    font-style: italic;
    font-size: 13px;
    color: #393939;
}
.time_table p {
    margin-bottom: 16px;
}
.contacts {
    width: 365px;
    margin-top: 38px;
    float: left;
}
.map_left,
.map_right {
    width: 415px;
}
.map_left {
    float: left;
}
.map_right {
    float: right;
}
.route_desc {
    margin-top: 35px;
}
.header_print {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}
@media print {
    .contacts_top_wrap,
    .menu,
    .hubs,
    .lang_switch,
    .footer_wrap,
    .left_col,
    body #bx-panel,
    body #bx-panel-back,
    .pdf_icon,
    .printer_icon,
    .map_icon,
    .price_icon,
    .gallery,
    .breadcrumb-navigation,
    .all_fests,
    #tabs,
    .first_fest,
    .second_fest,
    .back {
        display: none !important;
    }
    .header_wrap {
        margin-bottom: 30px;
        height: 90px !important;
        background: #4E99D3 !important;
    }
    .header {
        height: 90px !important;
    }
    .header_wrap .logo a img {
        width: 150px !important;
        height: 50px !important;
    }
    .header_wrap .logo {
        left: 30px;
    }
    .right_col {
        width: 1228px !important;
        float: none !important;
        margin: 0 auto !important;
    }
    .header .head_contacts,
    .header .head_phones {
        display: block !important;
        position: inherit !important;
        float: right;
        margin-top: 15px;
        margin-right: -30px;
    }
    .header .head_phones {
        margin-right: 70px !important;
    }
    .header_print {
        display: block;
    }
}
.social-fone {
    padding: 0!important;
    color: #ffffff;
}