.left-menu 
{
display:block;
margin-top:47px !important;
margin-bottom:40px;
}

.left-menu a
{
font-size:14px !important;
line-height:30px !important;
color:#2175b9;
}

.left-menu .selected
{
color:#ffa526 !important;
text-decoration:none !important;
}    