h1
{
text-transform:uppercase;
margin-bottom:30px;

}

.awards
{
margin-top:65px;
}

.gallery_item
{
margin-bottom:20px;
overflow:hidden;
border-bottom: 1px solid #e7ebed;
padding-bottom: 20px;
}

.gallery_item_name {
	margin-bottom: 10px;
	text-decoration:none;
	display: inline-block;
}

.gallery_item .photo
{
float:left;
margin-right:20px;
}

.gallery_item .photo img
{
border-radius: 8px;
-moz-border-radius: 8px;
-o-border-radius: 8px;
-webkit-border-radius: 8px;
behavior: url(PIE.htc);	
border: 1px solid #efefef;
}

.gallery_item .preview .preview_text
{
	display: inline;
}

.gallery_item .title
{
font-size:18px;
color:#2175b9;
}

.gallery_item .detail
{
margin-top:17px;
display:block;
margin-top: 15px;
text-align:right;
}