.menu {
    -webkit-box-shadow: 0px 7px 5px -5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 7px 5px -5px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 7px 5px -5px rgba(50, 50, 50, 0.75);
    behavior: url(PIE.htc);
}
.menu {
    width: 730px;
    height: 39px;
    background: #f2f4f5;
    position: absolute;
    left: 346px;
    top: 47px;
    position: relative;
    z-index: 1;
}
.menu ul {
    display: inline-block;
    height: 100%;
    margin-left: 40px;
}
.menu ul li {
    display: block;
    float: left;
    text-align: center;
    height: 100%;
    width: 126px;
    background: url(/img/menu_del.png) no-repeat;
    background-position-y: 50%;
    background-position-x: 100%;
}
.menu ul li a {
    display: block;
    color: #575757 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: underline;
    line-height: 27px;
    font-weight: bold;
    width: 126px;
    height: 39px;
    position: relative;
    z-index: 10;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    behavior: url(PIE.htc);
}
.menu .selected,
.menu .selected a,
.menu a:hover {
    color: #fff !important;
    background: none;
    background-color: #50a5dd !important;
}
.menu span {
    display: inline-block;
    margin-top: 5px;
    text-decoration: underline;
}